.btn_page2 {
  border: 0;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(28, 2, 32);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(41, 16, 16, 0.6);
  padding: 2%;
}

button.btn_page2.side {
  margin-left: 19%;
  margin-top: 3%;
}

/*********Page set up ***********/
.page_wrapper_setup {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  right: 70%;
}

.btn_page2 a {
  text-decoration: none;
  color: #fff;
}

/***********Curiculum **************/
.content_upload_inner {
  background: turquoise;
  padding: 3%;
  color: #000;
}
.content_upload_inner span {
  margin: 2%;
  font-size: 1.2rem;
  font-weight: 700;
}
.inner_form_6 {
  display: flex;
  justify-content: space-evenly;
}
.inner_form_6 span {
  color: rgb(59, 38, 34);
}

.dropdown {
  position: relative;
  top: 1rem;
  display: inline-block;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  top: 2.4rem;
  position: absolute;
  right: 0;
  background: rgb(82, 48, 48);
  width: 33rem;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  padding: 10%;
  display: none;
}

.dropdown-content button.brn {
  color: black;
  background: yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 33rem;
  padding: 12px 16px;
}

.dropdown-content button.brn:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.lecture_block {
  position: absolute;
  top: 4.3rem;
  padding: 3%;
  right: 0;
  width: 28rem;
}
.lectureBlock {
  display: flex;
  justify-content: space-around;
}

.div_inner {
  background: wheat;
  width: 6rem;
  height: 7rem;
}

.div_inner p {
  background-color: rgba(0, 0, 0, 0.13);
  color: rgb(24, 20, 20);
  text-align: center;
  position: relative;
  top: 3rem;
}
.div_inner:hover {
  background-color: #3e8e41;
}

.div_inner p:hover {
  background-color: #1d291d;
  color: #f1f1f1;
}
