ul.nav-links-inner {
  background: yellowgreen;
}

li {
  list-style: none;
}

/* li a {
  margin-left: 2%;
} */

li.bullet-inner {
  padding: 1%;
  text-decoration: overline;
  position: relative;
  left: 20%;
}
li.bullet-inner a {
  margin: 1%;
  text-decoration: none;
  color: black;

  font-weight: 600;
}

/*******************Slice Wrapper ******************/
.slice-wrapper {
  background: rgb(58, 19, 58);
  color: wheat;
  padding: 4%;
  overflow-x: hidden;
}
form {
  padding: 10%;
}

.step {
  background: wheat;
  border-right: solid;
  border-radius: 30px;
  padding: 2%;
  width: 4rem;
  margin-top: 2%;
}

.step a {
  text-decoration: none;
  position: relative;
  left: 10%;
  font-size: 1.3rem;
  font-weight: 900;
}
.label {
  position: relative;
  left: 7%;
  font-weight: 700;
}
input[type="text"] {
  height: 2.7rem;
  width: 18rem;
}

/******************Manage****************/

.manage-courses {
  background: yellowgreen;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}

.left_container {
  display: flex;
  flex-direction: column;
  width: 15rem;
  background: tomato;
  padding: 3%;
}

.radio {
  position: relative;
  margin-top: 3%;
  left: 2%;
  display: flex;
  flex-direction: column;
}

.card-footer {
  background: tomato;
  padding: 2%;
}

button.btn.btn-secondary.float-left {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(28, 2, 32);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(41 16 16 / 60%);
  margin-left: 9%;
}

button.btn.btn-primary.float-right {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(28, 2, 32);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(41 16 16 / 60%);
}
